.slide{
    position: relative;
    height: 540px;
    width: 240px;
    
    right: 784px;
    margin:30px;
}
.scroll{
    display: inline;
    overflow-y: hidden;
    overflow-x: auto;
}
.anntext{
    transform: rotate(-90deg);
}
