.slider{
    
    height:350px;
    margin:30px;
    width:350px;
    /* border:  1px solid brown; */
    /* box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px; */
    box-shadow: rgba(255, 255, 255, 0.12) 3px 3px 10px 2px, rgba(255, 255, 255, 0.32) 0px 2px 16px 3px;

}
.scroll{
    display: inline;
    overflow-y: auto;
    overflow-x: hidden;
}
