.bottomSection{
    position:absolute;
    top:1005px;
    
width: 1512px;
height: 90px;
left: 0px;

border:1px solid azure;

background: linear-gradient(180deg, #000000 46.65%, rgba(0, 0, 0, 0.616088) 108.44%);
filter: blur(20px);


}