.sec4{
    border:1px solid magenta;
    top:1950px;
    position: relative;
    
}
.gallery{
    text-align:center;
    border:1px solid blue;
    font-family: 'Alien Ravager';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 104px;
/* identical to box height */


color: #B0CFFF;

}
.slideshow{
    border:1px solid yellow;
}
.sec4{
    border: 0px;
}
