.heading1{
    position: absolute;
width: 723px;
height: 147px;
left: 395px;
top:376px;


font-family: 'Fast Hand';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 147px;

background: linear-gradient(92.08deg, #F5F8FE 2.4%, #6D8EBF 52.55%, #D4E3FA 99.5%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

    
}
.main{
    background-image:url("assets/section1/frontBack.png");
    background-size: 100%;
    height: 1005px;
    width:1512px;
    
    
    
}
.heading2{
    position: absolute;
width: 269px;
height: 55px;
left: 622px;
top: 720px;

font-family: 'Fast Hand';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 55px;

background: linear-gradient(92.73deg, #FFFFFF 19.05%, #AFB2B7 79.4%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
/* text-fill-color: transparent; */

    
}