
.aboutUsText{
    position: relative;
width: 441px;
height: 104px;
left: 934px;
top: 10px;

font-family: 'Alien Ravager';
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 104px;
/* identical to box height */


color: #B0CFFF;



}
.sec3{
    position: absolute;
width: 1512px;
height: 1709px;
left: 0px;
top: 1095px;
background-size: 100%;
/* border:1px solid blue; */


background-image:url("assets/section3/section3.png");
}
.content{
    position:relative;
    left:100px;

    left:70px;
    height:500px;
    width:1310px;
    /* border:1px solid blue; */

}
.aboutUsContent{





    position: relative;
    
    margin-right: 70px;
    left: 800px;
    height: 412px;
    width: 584px;
    font-family: 'Fast hand';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height */
    text-align: center;
    
    color: #FFFFFF;
}
.events{
    /* border:1px solid pink; */
    height:500px;
    margin-top: 10px;

}
.gallerytext{
    position:relative;
    text-align:center;
    /* vertical-align:middle; */
    
    /* border:1px solid brown; */
    height:300px;
    bottom: 350px;    
    /* margin-top: 100px; */
    



    font-family: 'Alien Ravager';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    color: #B0CFFF;
/*line-height: 104px;
identical to box height */

color: #B0CFFF;


}
.carousel
{
    

    /* border :1px solid yellow; */
    /* margin-left: 610px; */
    height: 450px;
    width:900px;
    position:relative;
    left: 610px;
    bottom:650px;
    
    
}
.eventext{
    display: inline;
    position: relative;
    left:161px;
    bottom: 400px;
    font-family: 'Alien Ravager';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    color: #B0CFFF;
    /* line-height: 104px; */   
    
    
   
    
    
    height:100px;
    width:100px;
    /* border:1px solid green; */
    

}   
.rightline{
    width: 530px;
    
    position: relative;
    margin-bottom: 60px;
    height: 2px;
    left: 490px;
    bottom: 675px;
    border-color: #B0CFFF;
}
.leftline{
    width: 530px;
   
    position: relative;
    margin-bottom: 60px;
    height: 2px;
    right: 490px;
    bottom: 736px;
   
    border-color: #B0CFFF;

}
.announcementbox{
    display: inline;
    border: 1px solid red;
    height:200px;
    width:200px;
    position: relative; 
     bottom:700px; 
    
    
}
.announcescroll{
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(34, 255, 0);
    transform: rotate(90deg);
    bottom: 718px;
    left: 66px;
}
.announcementtext{
    transform: rotate(0deg);
    left: 160px;
    position: relative;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 27px;
    /* identical to box height, or 67% */
    top:20px;

    color: #FFFFFF;

}
.box{
    position: relative;
    width: 593px;
    height: 600px;
    border: 5px solid #B0CFFF;
    bottom: 700px;
    left: 66px;
    box-sizing: border-box;
    border-radius: 35px;
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(7.5px);
}
.scroll{
    transform: rotate(90deg);
    position: relative;
    top: 229px;
    height: 100px;
    width: 447px;
    left: 320px;
}