.sec5{
    position: absolute;
    top:3400px;
    border: 5px solid rgb(255, 230, 0);
    width: 1512px;
    height: 1128px;
    background-image: url("assets/section5/section5.png");
    background-size: 100%;
}
.contactustext{
position: relative;
width: 559px;
height: 104px;
top: 440px;
left: 65px  ;
font-family: 'Alien Ravager';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 104px;
/* identical to box height */


color: #B0CFFF;

}
.nametext{
    position: relative;
left: 766px;

bottom: 80px;


font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 18.6389px;
line-height: 23px;

color: #FFFFFF;

}
.messagebox{
    position: relative;
width: 622.62px;
height: 406.67px;
top: 200px;
left: 770px;

background: #D9D9D9;
opacity: 0.2;
border-radius: 16.9445px;

}
.messagetext{
    position: relative;
height: 23px;
width:  74.89px;
top: 240px;
left: 766px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 18.6389px;
line-height: 23px;

color: #FFFFFF;
}
.emailtext{
    position: relative;
height: 23px;
width: 47.93px;
left: 766px;
top: 0px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 18.6389px;
line-height: 23px;

color: #FFFFFF;

}
.nameline{
    position: relative;
    bottom: 8px;
    left: 330px;
    width: 622px;
    height: 0px;
}
.emailline{
    position: relative;
    bottom: 155px;
    left: 330px;
    width: 622px;
    height: 0px;

}