.outer {
    background: url("../../public/images/back3.svg") no-repeat;
    margin-top: -15vw;
    padding-top: 19.76vw;
    padding-bottom: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact {
    font-family: 'Alien Ravager';
    font-style: normal;
    font-weight: 400;
    font-size: 6.3vw;
    line-height: 108%;
    /* identical to box height */


    color: #B0CFFF;

}

.contactDesc {
    font-style: normal;
    font-weight: 400;
    font-size: 1.21vw;
    line-height: 120%;

    color: #FFFFFF;
}

@media only screen and (max-width: 426px) {
    .outer{
        flex-direction: column;
    }
    .contact{
        font-size: 11.2vw;
    }
    .contactDesc{
        margin-top: 5vw;
        font-size: 3vw;
    }
}